.project-card {
    display: flex;
    min-height: 192px;
    width: calc(50% - 48px);
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1600px) {
    .project-card {
        width: 100%;
    }
}

.project-card .card-image-holder {
    flex: 1;
    margin-left: 16px;
}

.project-card .card-image-holder .card-image {
    margin: auto;
    width: fit-content;
}

.project-card .card-image-holder img {
    width: 128px;
    height: auto;
}

.project-card .card-content {
    flex: 2;
    margin: 16px;
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px 2px rgba(204, 204, 204, 0.4);
}
