* {
    font-family: "Open Sans", sans-serif;
}

body .project {
    margin: 0;
    padding: 0;
}

.project p {
    padding: 0;
}

.project .content h1,
.project .content h2,
.project .content h3,
.project .content h4,
.project .content h5 {
    font-family: "Quicksand", "sans-serif";
}

.project .content {
    margin-left: calc(20% + 32px);
    min-height: 100vh;
}

.project .content .offset-page-content {
    width: calc(80% - 32px);
    margin: auto;
}

.project .content .content-inner {
    padding: 32px;
}

.project .back-link {
    text-decoration: none;
    color: black;
}

.project .back-link:hover {
    color: #910d0d;
}

.project .laptop,
.project .android,
.project .ios {
    margin: 40px 0;
}

/*.project .android,*/
/*.project .ios {*/
/*    text-align: center;*/
/*}*/
