* {
    font-family: "Open Sans", sans-serif;
}

body .portfolio {
    margin: 0;
    padding: 0;
}

.portfolio p {
    padding: 0;
}

.portfolio .content h1,
.portfolio .content h2 {
    font-family: "Quicksand", "sans-serif";
}

.portfolio .content {
    margin-left: calc(20% + 32px);
    min-height: 100vh;
}

.portfolio .content .offset-page-content {
    width: calc(80% - 32px);
    margin: auto;
}

.portfolio .content .content-inner {
    padding: 32px;
}

.portfolio .tag-filter ul {
    margin: 32px 0;
    display: flex;
    list-style: none;
}

.portfolio .tag-filter ul li {
    text-align: center;
    flex: 1;
    justify-content: space-between;
}

.portfolio .tag-filter ul li:hover {
    cursor: pointer;
}

.portfolio .tag-filter ul li p {
    margin: auto;
    width: fit-content;
}

.portfolio .tag-filter ul li.selected p {
    color: rgb(145, 13, 13);
}

.portfolio .tag-filter ul li.selected div.underline,
.portfolio .tag-filter ul li:hover div.underline{
    color: rgb(145, 13, 13);
    background-color: rgb(145, 13, 13);
    height: 2px;
    margin: 4px auto;
}

.portfolio .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.portfolio .grid .project-card {
    margin: 16px;
}

.portfolio a {
    text-decoration: none;
    color: black;
}
