.nav-bar {
    color: white;
    background-color: rgba(145, 13, 13, .8);
    position: fixed;
    height: 100%;
    box-shadow: 1px 0 5px 0 grey;
    width: 256px;
    padding: 16px;
}

.nav-bar .nav-content .avatar {
    width: 100%;
    margin: 24px 0;
    text-align: center;
}

.nav-bar .nav-content .avatar img {
    width: 156px;
    border-radius: 50%;
}

.nav-bar .person-details {
    text-align: center;
}

.nav-bar .person-details h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.nav-bar .person-details h2 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.nav-bar .nav-links {
    margin: 64px 0;
    text-transform: uppercase;
}

.nav-bar .nav-links ul {
    list-style: none;
    margin: 16px;
    padding: 0;
}

.nav-bar .nav-links ul li {
    margin: 16px auto;
    font-size: 14px;
}

.nav-bar .nav-links ul li:nth-child(2),
.nav-bar .nav-links ul li:last-child {
    margin-top: 48px;
}

.nav-bar .nav-links ul li a {
    text-decoration: none;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

.nav-bar .nav-links ul li.unselected:hover {
    cursor: pointer;
    color: white;
}

.nav-bar .nav-links ul li.selected a {
    color: white;
}
